.sessao_avaliacoes{
    background-color: #12602C;
    padding: 40px 0;
    text-align: center;
    margin: 40px 0;
}
.sessao_avaliacoes h2{
    color: white;
    margin-bottom: 20px;
    font-size: 2em;
}
.carrossel{
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}

.carrossel_avaliacoes{
    display: flex;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.artigo_avaliacao{

    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    padding: 5px;

    display: flex;
    flex-wrap: wrap;
    
    
    justify-content: center;
    align-items: center;
    
    flex: 0 0 calc(77% - 20px); /* largura - margem */
    margin-right: 20px; /* Espaçamento entre os cards */

}

.perfil-info{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    

}

#perfil {
    
    height: 150px; 
    width: 150px;
    margin-right: 15px;
    flex-shrink: 0; /* Impede o encolhimento da imagem */

}

#perfil img {

    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #12602C;
    
    object-fit: cover;
    display: block;

}

.nome-cliente, .dados-separados, .star{

    margin: 0;
    padding: 0;

}

.star {

    color: rgb(255, 187, 0);
    text-shadow: 0px 0px 2px black;
    font-size: 2rem;
    
}

.texto-depoimento{

    
    font-style: italic; /* Volta o itálico se desejar o visual do print */
    font-size: 1.2em;
    color: #444;
    padding: 0px 20px;
    
    text-align: left;
    margin: 0;
    flex: 1;

}

.artigo_avaliacao:last-child {
    margin-right: 0; /* Remove a margem do último card para evitar barra de rolagem desnecessária */
}

.btn_voltar, .btn_avancar{
    
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 0 10px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.2s;

}

.btn_voltar{
    left: 0;
}

.btn_avancar{
    right: 0;
}

.btn_voltar, .btn_avancar:hover{
    cursor: pointer;
}

/* MEDIA QUERY */

@media (max-width: 768px){

    .carrossel{
        padding: 0 50px;
    }
    .artigo_avaliacao{
        flex: 0 0 calc(100% - 20px);
    }

    .btn_voltar{
        left: 5px;
        font-size: 1.5em;
    }
    .btn_avancar{
        right: 5px;
        font-size: 1.5em;
    }

    .artigo_avaliacao h2{
        font-size: 1.5em;
    }

    .artigo_avaliacao{

        flex-direction: column;

    }

}

