/* sessão geral */

.sessao_avaliacoes {
    width: 100%;
    background-color: #0f6a2b;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessao_avaliacoes h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: 600;
}

/*  áea do carrossel  */
.carrossel {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* botões de avançar - voltar */
.btn_voltar,
.btn_avancar {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    transition: 0.2s;
}

.btn_voltar:hover,
.btn_avancar:hover {
    transform: scale(1.15);
}

/*  Carrossel */
.carrossel_avaliacoes {
    overflow: hidden;
    display: flex;
    gap: 15px;
    width: calc(300px * 3 + 15px * 2);
    margin: 0 auto;
}

/* card avaliacão */
.artigo_avaliacao {
    min-width: 300px;
    max-width: 300px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    flex-shrink: 0;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

/* avatar com o nome ao lado */
.avaliacao_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 15px;
}

.nome_usuario {
    font-weight: 600;
}

/* avaliação(texto) */
.artigo_avaliacao p {
    font-size: 0.95rem;
    color: #333;
    margin-bottom: 15px;
}

/* estrelas */
.avaliacao_estrelas {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffbb00;
}

.avaliacao_estrelas span {
    color: #555;
    font-size: 0.9rem;
    margin-left: 5px;
}

/* responsividade */
@media (max-width: 768px) {
    .carrossel_avaliacoes {
        width: 350px; 
        overflow: hidden;
    }

    .artigo_avaliacao {
        width: 350px;
    }
}
