*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    display: grid;

    gap: 50px;
}
.primeira_section {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.galeria_personal_chefe {
    padding: 20px 50px;
}

.sobre_personal_chefe {
    padding-top: 30px;
    position: relative;
    height: 200px; 
}

.segunda_section {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.acao_personal_chefe {
    padding-top: 30px;
    position: relative;
    height: 200px; 
}

.foto_acao_personal_chefe {
    display: grid;

    padding: 0px 50px;
}


.sessao_planos_personal_chefe {

    display: grid;
    grid-template-rows: 1fr 10fr;
    text-align: center;
}

.planos_personal_chefe {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-items: center;
    
}

.planos {
    border-radius: 10px;
    background-color: rgb(70, 70, 70);
    width: 450px;
    height: 450px;
    text-align: center;
    color: white;

    display: flex;

    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contrate_pelo_whatsapp {
    border-radius: 10px;
    border: 1px solid green;
    padding: 10px;
    background-color: green;
    color: white;
    
}

a {
    text-decoration: none; /* Remove sublinhado */
    color: inherit; /* Herda a cor do elemento pai */
}
